@page "/"
@using PNMT.ApiClient.Data;
@using PNMTD.Lib.Models.Poco;
@using PNMT.WebApp.Components.Dashboard;
@using PNMT.WebApp.Components;
@inject NavigationManager navigationManager
@inject PNMTDApi _PNTMDApi

<PageTitle>PNMT</PageTitle>

<MudOverlay Visible="isLoading" DarkBackground="true" Absolute="true">
  <MudProgressCircular Color="Color.Secondary" Indeterminate="true" />
</MudOverlay>

<MudContainer>
  <MudGrid>
    <CardDashboardComp Icon="@Icons.Material.Filled.Router" Title="Hosts" Value="@NumberOfHosts"></CardDashboardComp>
    <CardDashboardComp Icon="@Icons.Material.Filled.Thermostat" Title="Sensors" Value="@NumberOfSensors"></CardDashboardComp>
    <CardDashboardComp Icon="@Icons.Material.Filled.Dangerous" LeftBoarderCss="border-left-danger" TitleCss="mud-error-text" Title="Failures" Value="@allHostsWithErrors.Count()"></CardDashboardComp>
  </MudGrid>

  <MudGrid>
    <MudItem xs="6">
      @foreach (var host in allHostsWithErrors)
      {
        <div class="card shadow mb-4">
          <div class="card-header py-3 d-flex flex-row align-items-center justify-space-between">
            <h2 class="m-0 font-weight-bold mud-error-text">
              <MudIcon Icon="@Icons.Material.Filled.Dangerous" Class="icon-pos-fix-2" />
              <b>@host.Name</b>
            </h2>
            <MudLink Href="@($"/host/{host.Id}")" Class="object-right">
              <MudIcon Icon="@Icons.Material.Filled.OpenInNew"></MudIcon>
            </MudLink>
          </div>
          <div class="card-body">
            <table class="table table-bordered table-hover table-striped">
              <thead class="thead-small">
                <tr>
                  <th>Name</th>
                  <th>Code</th>
                  <th>Since</th>
                </tr>
              </thead>
              <tbody>
                @foreach (var sensor in host.Sensors.Where(s => !s.IsSuccess).ToList())
                {
                  <tr>
                    <td>
                      <div class="d-flex">
                        <div class="d-inline"><MudIcon Icon="@Icons.Material.Filled.Sensors" Class="text-grey-700 icon-pos-fix-2 icon-base-some-space"></MudIcon></div>
                        <div class="d-inline"><MudLink Href="@($"/sensor/{sensor.Id}")">@sensor.Name</MudLink></div>
                      </div>
                    </td>
                    <td>@sensor.LastCode</td>
                    <td><b><SinceComp Moment="@(sensor.Since.Value)"></SinceComp></b></td>
                  </tr>
                }
              </tbody>
            </table>
          </div>
        </div>
      }
    </MudItem>
    <MudItem xs="6">
      <div class="card shadow mb-4">
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h2 class="m-0 font-weight-bold text-primary">
            <i class="icon-pos-fix bi bi-router"></i><b>Hosts</b>
          </h2>
        </div>
        <div class="card-body">
          <table class="table table-bordered table-hover table-striped">
            <thead class="thead-small">
              <tr>
                <th>Name</th>
                <th>Location</th>
                <th>Sensors</th>
              </tr>
            </thead>
            <tbody>
              @foreach (var host in allHosts)
              {
                <tr>
                  <td><a href="/host/@host.Id">@host.Name</a></td>
                  <td>@host.Location</td>
                  <td>@host.Sensors.Count()</td>
                </tr>
              }
            </tbody>
          </table>
        </div>
      </div>
    </MudItem>
  </MudGrid>
</MudContainer>

@code {
  public bool isLoading { get; set; } = true;

  List<HostStatePoco> allHosts = new List<HostStatePoco>();

  List<HostStatePoco> allHostsWithErrors
  {
    get
    {
      return allHosts.Where(h => h.State != HostState.Ok).ToList();
    }
  }

  int NumberOfHosts
  {
    get
    {
      return allHosts.Count();
    }
  }

  int NumberOfSensors
  {
    get
    {
      return allHosts.SelectMany(x => x.Sensors).Count();
    }
  }

  protected override async Task OnInitializedAsync()
  {
    allHosts = (await _PNTMDApi.Hosts.GetAllHostsWithSensors());

    await base.OnInitializedAsync();

    isLoading = false;
  }

}
