@page "/sensor/{Id:guid}"
@using PNMT.WebApp.Data;
@using PNMT.WebApp.Models.Forms;
@using PNMTD.Lib.Helper;
@using PNMTD.Lib.Models.Poco;
@using PNMTD.Models.Poco;
@using PNMT.WebApp.Components
@inject NavigationManager navigationManager
@inject PNMTDApi _PNTMDApi


@if(sensorPoco == null)
{
    <p>Loading...</p>
}
else
{
<div class="container">
    <div class="row" style="margin-bottom: 20px;">
        <div class="col">
            <h3>Sensor - <b>@sensorPoco.Name</b></h3>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <table class="table table-bordered table-hover">
                <thead>
                </thead>
                <tbody>
                    <tr>
                        <td>Enabled</td>
                        <td>@sensorPoco.Enabled</td>
                    </tr>
                    <tr>
                        <td>Id</td>
                        <td>@sensorPoco.Id</td>
                    </tr>
                    <tr>
                        <td>Created</td>
                        <td>@sensorPoco.Created</td>
                    </tr>
                    <tr>
                        <td>Name</td>
                        <td><b><EditableTextComponent Entity="@sensorPoco" TItem="string" @bind-Value="@sensorPoco.Name"></EditableTextComponent></b></td>
                    </tr>
                    <tr>
                        <td>TextId</td>
                            <td><b><EditableTextComponent Entity="@sensorPoco" TItem="string" @bind-Value="@sensorPoco.TextId"></EditableTextComponent></b></td>
                    </tr>
                        <tr>
                            <td>Type</td>
                            <td><b>@sensorPoco.Type</b></td>
                        </tr>
                    <tr>
                        <td>Grace period</td>
                            <td><EditableTextComponent Entity="@sensorPoco" TItem="int" @bind-Value="@sensorPoco.GracePeriod"></EditableTextComponent></td>
                    </tr>
                    <tr>
                        <td>Interval</td>
                            <td><EditableTextComponent Entity="@sensorPoco" TItem="int" @bind-Value="@sensorPoco.Interval"></EditableTextComponent></td>
                    </tr>
                    <tr>
                        <td>Parent (Host)</td>
                        <td><a href="/host/@sensorPoco.ParentId">View</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col">
            
        </div>
    </div>
</div>
}

@code {
    [Parameter]
    public Guid Id { get; set; }

    public SensorPoco sensorPoco { get; set; }

    protected override async Task OnInitializedAsync()
    {
        sensorPoco = (await _PNTMDApi.Sensors.Get(Id));

        await base.OnInitializedAsync();
    }
}
