@page "/host/{Id:guid}"
@using PNMT.WebApp.Components
@using PNMT.WebApp.Data;
@using PNMT.WebApp.Models.Forms;
@using PNMTD.Lib.Helper;
@using PNMTD.Lib.Models.Poco;
@inject NavigationManager navigationManager
@inject PNMTDApi _PNTMDApi



<div class="container">
    <div class="row" style="margin-bottom: 20px;">
        <div class="col">
            <h3>Host - <b>@hostPoco.Name</b></h3>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p><a href="" @onclick=DeleteHost @onclick:preventDefault>Delete</a></p>
            <table class="table table-bordered table-hover">
                <thead>
                </thead>
                <tbody>
                    <tr>
                        <td>Enabled</td>
                        <td><EditableTextComponent TItem="bool" InputType="checkbox" @bind-Value="@hostPoco.Enabled"></EditableTextComponent></td>
                    </tr>
                    <tr>
                        <td>Id</td>
                        <td>@hostPoco.Id</td>
                    </tr>
                    <tr>
                        <td>Name</td>
                        <td><b><EditableTextComponent Entity="@hostPoco" TItem="string" @bind-Value="@hostPoco.Name"></EditableTextComponent></b></td>
                    </tr>
                    <tr>
                        <td>Location</td>
                        <td><EditableTextComponent Entity="@hostPoco" TItem="string" @bind-Value="@hostPoco.Location"></EditableTextComponent></td>
                    </tr>
                    <tr>
                        <td>Notes</td>
                        <td><EditableTextComponent Entity="@hostPoco" TItem="string" @bind-Value="@hostPoco.Notes"></EditableTextComponent></td>
                    </tr>
                    <tr>
                        <td>Created</td>
                        <td>@hostPoco.Created</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col">
            <h4>Sensors</h4>
            <p><a href="/sensor/new/@hostPoco.Id">Create</a></p>
            <table class="table table-bordered table-hover">
                <thead>
                </thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">State</th>
                        <th scope="col">Code</th>
                        <th scope="col">Msg</th>
                    </tr>
                <tbody>
                    @foreach(var sensor in hostStatePoco.Sensors) 
                    {
                    <tr>
                        <td><a href="/sensor/@sensor.Id">@sensor.Name</a></td>
                        <td>@sensor.IsSuccess</td>
                        <td>@sensor.LastCode</td>
                        <td>@sensor.LastMessage</td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public Guid Id { get; set; }

    public HostPoco hostPoco = new HostPoco();

    public HostStatePoco hostStatePoco = new HostStatePoco();

    protected override async Task OnInitializedAsync()
    {
        hostPoco = (await _PNTMDApi.Hosts.Get(Id));

        hostStatePoco = (await _PNTMDApi.Hosts.GetHostWithSensors(Id));

        await base.OnInitializedAsync();
    }

    private async void DeleteHost()
    {
        await _PNTMDApi.Hosts.Delete(Id);

        navigationManager.NavigateTo("/hosts");
    }
}
