@page "/notificationrules"
@using PNMT.WebApp.Components;
@using PNMT.WebApp.Data;
@using PNMT.WebApp.Models.Forms;
@using PNMTD.Lib.Helper;
@using PNMTD.Lib.Models.Enum;
@using PNMTD.Lib.Models.Poco;
@inject NavigationManager navigationManager
@inject PNMTDApi _PNTMDApi

<MudContainer>
  <h2>Notification Rules</h2>

  <p><a href="/notificationrule/new">Create new rule</a></p>

  <MudDataGrid Items="@Rules">
    <Columns>
      <TemplateColumn>
          <CellTemplate>
          <a href="/notificationrule/edit/@context.Item.Id">@context.Item.Id</a>
          </CellTemplate>
      </TemplateColumn>
      <TemplateColumn>
        <CellTemplate>
          <EditableTextComponent Entity="@context.Item" TItem="bool" InputType="checkbox" @bind-Value="@context.Item.Enabled"></EditableTextComponent>
        </CellTemplate>
      </TemplateColumn>
      <TemplateColumn>
        <CellTemplate>
          <EditableTextComponent Entity="@context.Item" TItem="string" InputType="text" @bind-Value="@context.Item.Name"></EditableTextComponent>
        </CellTemplate>
      </TemplateColumn>
      <TemplateColumn>
        <CellTemplate>
          <EditableTextComponent Entity="@context.Item" TItem="NotificationRuleType" InputType="select" @bind-Value="@context.Item.Type"></EditableTextComponent>
        </CellTemplate>
      </TemplateColumn>
      <TemplateColumn>
        <CellTemplate>
          <EditableTextComponent Entity="@context.Item" TItem="string" InputType="text" @bind-Value="@context.Item.Recipient"></EditableTextComponent>
        </CellTemplate>
      </TemplateColumn>
    </Columns>
  </MudDataGrid>
</MudContainer>


@code {
    List<NotificationRulePoco> Rules = new List<NotificationRulePoco>();

    protected override async Task OnInitializedAsync()
    {
        Rules = (await _PNTMDApi.NotificationRules.GetAll()).ToList();

    }
}
