@page "/notificationrules"
@using PNMT.ApiClient.Data;
@using PNMT.WebApp.Components;
@using PNMT.WebApp.Models.Forms;
@using PNMTD.Lib.Helper;
@using PNMTD.Lib.Models.Enum;
@using PNMTD.Lib.Models.Poco;
@inject NavigationManager navigationManager
@inject PNMTDApi _PNTMDApi

<MudContainer>
  <MudGrid>
    <MudItem xs="12">
      <MudPaper Class="pa-3 mb-1 mt-4">
        <div class="d-flex">
          <div class="d-inline"><h1><MudIcon Icon="@Icons.Material.Filled.Notifications" Class="icon-base-more-space"></MudIcon></h1></div>
          <div class="d-inline">
            <h1>
              Notification Rules
            </h1>
          </div>
        </div>
      </MudPaper>
    </MudItem>
  </MudGrid>
  <div class="pa-3 mb-1 mb-2">
    <MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Add" Color="Color.Success" Href="/notificationrule/new">
      Create new
    </MudButton>
  </div>

  <MudDataGrid Items="@Rules">
    <Columns>
      <TemplateColumn Title="Name">
        <CellTemplate>
          <a href="/notificationrule/edit/@context.Item.Id">
              @context.Item.Name
            <MudIcon Icon="@Icons.Material.Filled.OpenInFull" Class="icon icon-base icon-base-just-bit-smaller icon-base-some-space-left" />
          </a>
        </CellTemplate>
      </TemplateColumn>
      <TemplateColumn Title="Enabled">
        <CellTemplate>
          <EditableTextComponent Entity="@context.Item" TItem="bool" InputType="checkbox" @bind-Value="@context.Item.Enabled"></EditableTextComponent>
        </CellTemplate>
      </TemplateColumn>
      <TemplateColumn Title="Type">
        <CellTemplate>
          <EditableTextComponent Entity="@context.Item" TItem="NotificationRuleType" InputType="select" @bind-Value="@context.Item.Type"></EditableTextComponent>
        </CellTemplate>
      </TemplateColumn>
      <TemplateColumn Title="Recipient">
        <CellTemplate>
          <EditableTextComponent Entity="@context.Item" TItem="string" InputType="text" @bind-Value="@context.Item.Recipient"></EditableTextComponent>
        </CellTemplate>
      </TemplateColumn>
    </Columns>
  </MudDataGrid>
</MudContainer>


@code {
  List<NotificationRulePoco> Rules = new List<NotificationRulePoco>();

  protected override async Task OnInitializedAsync()
  {
    Rules = (await _PNTMDApi.NotificationRules.GetAll()).ToList();

  }
}
